<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <label> User Type </label>
      <p> {{user?.userType}} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <label> Name </label>
      <p> {{user?.name}} </p>
    </div>
    <div class="col-lg-6">
      <label> Address </label>
      <p> {{user?.address}} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <label> Phone </label>
      <p> {{user?.phoneNumber}} </p>
    </div>
    <div class="col-lg-6">
      <label> Email </label>
      <p> {{user?.email}} </p>
    </div>
  </div>
</div>